<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058682036822-u4dksoteun7p72f3bapo5decc8rsuevv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058682036822-u4dksoteun7p72f3bapo5decc8rsuevv</string>
	<key>API_KEY</key>
	<string>AIzaSyAOUOTUs_vkpIMsnRRBc1wYrBdH4NW2QY0</string>
	<key>GCM_SENDER_ID</key>
	<string>1058682036822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.CPDChat</string>
	<key>PROJECT_ID</key>
	<string>cpdchat-91983</string>
	<key>STORAGE_BUCKET</key>
	<string>cpdchat-91983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058682036822:ios:c9382f84c6c8be1e1851f7</string>
</dict>
</plist>